In [1]:
import pandas as pd

In [2]:
cnaeNcm = pd.read_excel("NCM2012XCNAE20.xls", header=0, converters={'NCM':str,'DESC':str,'CNAE':str})

In [20]:
cnaeNcm.groupby('CNAE').count().sort_values('NCM',ascending=False)

                 NCM  DESC
CNAE
2029.1          1241  1241
2019.3           392   392
2110.6           334   334
2121.1; 2122.0   306   306
1020.1           200   200
...              ...   ...
2099.1; 2330.3     1     1
2790.2; 2840.2     1     1
2790.2; 2945.0     1     1
0220.9; 1099.6     1     1
  0322.1           1     1

[522 rows x 2 columns]

In [24]:
cnaeNcm['NCM'].unique()

array(['1012100', '1012900', '1013000', ..., '99997104', '99999900',
       '99999960'], dtype=object)

In [26]:
cnaeNcm[cnaeNcm['NCM']== '99999960']

            NCM          DESC     CNAE
10046  99999960  REEXPORTACAO  SEM TEC

In [2]:
# PySpark imports
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Spark context creation
spark = SparkSession.builder.appName("IPQ").getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/23 14:36:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# PySpark imports
import pyspark.sql.functions as F
from pyspark.sql import Window
from pyspark.sql.types import *

In [4]:
estab9 = spark.read.csv('K3241.K03200Y0.D31014.ESTABELE', sep=';')

In [7]:
estab9.filter(F.col('_c0') == '07047183').show()

+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+--------------------+-----+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|           _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|_c13|              _c14|_c15|                _c16| _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+--------------------+-----+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|07047183|0001| 40|  1|IPQ TECNOLOGIA| 02|20040901| 00|NULL|NULL|20040901|6209100|3312102,4321500,4...| RUA|DOUTOR JOSE PEROBA| 275|      METROPOLIS ...|STIEP|41770235|  BA|3849|  71|33403200|NULL|NULL|NULL|NULL|FISCAL@ORGANIZACA...|NULL|NULL|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+--------------------+-----+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [ ]:
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+--------------------+-----+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|     _c0| _c1|_c2|_c3|           _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|                _c12|_c13|              _c14|_c15|                _c16| _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+--------------------+-----+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|07047183|0001| 40|  1|IPQ TECNOLOGIA| 02|20040901| 00|NULL|NULL|20040901|6209100|3312102,4321500,4...| RUA|DOUTOR JOSE PEROBA| 275|      METROPOLIS ...|STIEP|41770235|  BA|3849|  71|33403200|NULL|NULL|NULL|NULL|FISCAL@ORGANIZACA...|NULL|NULL|
+--------+----+---+---+--------------+---+--------+---+----+----+--------+-------+--------------------+----+------------------+----+--------------------+-----+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+

In [5]:
v = estab9.limit(10000)

In [6]:
v.toPandas()

23/10/23 14:37:28 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c20,_c21,_c22,_c23,_c24,_c25,_c26,_c27,_c28,_c29
0,12499957,0001,03,1,None,04,20210226,63,None,None,...,7107,11,31121971,None,None,11,31121971,milton.i@uol.com.br,None,None
1,61189288,0361,08,2,MARISA LOJAS S.A.,02,20100902,00,None,None,...,7225,19,38296700,None,None,11,21096024,FISCAL@MARISA.COM.BR,None,None
2,12499979,0001,73,1,None,03,20110901,18,None,None,...,7107,11,38560889,11,38589261,11,22412384,ademirdadamo@terra.com.br,None,None
3,12499999,0001,44,1,PATRICIA COSMETICOS,02,20210817,00,None,None,...,9051,67,33443810,None,None,None,None,None,None,None
4,12500010,0001,75,1,None,04,20210226,63,None,None,...,7107,11,33119875,None,None,None,None,ncaconsultores@terra.com.br,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,12639493,0001,93,1,None,04,20190329,63,None,None,...,6001,21,31051557,None,None,None,None,None,None,None
9996,12639509,0001,68,1,L C BERNAL MATERIAIS PARA CONSTRUCOES,04,20181212,63,None,None,...,9131,67,34315217,67,34315217,67,34315217,None,None,None
9997,07580389,0002,11,2,H & CIA,08,20140602,01,None,None,...,6637,14,32630630,None,None,None,None,jaconassessoria@terra.com.br,None,None
9998,12639537,0001,85,1,O VIDRACEIRO,08,20170119,01,None,None,...,2705,82,96099282,82,99269721,None,None,None,None,None
9999,60743093,0003,38,2,MEDCOM MEDICINA COMPLEMENTAR,08,20140723,01,None,None,...,7107,11,22616611,11,22038179,11,22038179,wagner@asconfis.net,None,None

In [11]:
cnpj = '12499957000103'

cnpj[:8]
cnpj[8:12]
cnpj[12:14]

'03'